@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  @apply bg-white
}

.player-1-cell {
  @apply bg-red-500
}

.player-1-cell.winning-cell {
  @apply bg-red-800;
  @apply drop-shadow-2xl;
}

.player-2-cell {
  @apply bg-blue-500
}

.player-2-cell.winning-cell {
  @apply bg-blue-800;
  @apply drop-shadow-2xl;
}
